@import "~semantic-ui-css/semantic.css";
@import "~leaflet/dist/leaflet.css";
@import "~tachyons/css/tachyons.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the html and body tags take up the full viewport height */
  box-sizing: border-box; /* Border-box sizing to ensure padding and borders are included in the total width and height */
}

/* Ensure all children of body also use border-box sizing */
*, *:before, *:after {
  box-sizing: inherit;
}


/* Adjust the map container to take the remaining height after the header */
#map-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px); /* Adjust this value if the header's height changes */
}

/* CSS for positioning the logo */
.map-logo {
  position: absolute;
  bottom: 45px;
  right: 15px; /* Position it at the bottom right */
  z-index: 100; /* Ensure it's above the map layers */
}

.map-logo img {
  width: 85px; /* Set half of your current size assuming the original was 50px */
  height: auto; /* Maintain the aspect ratio */
}

.toggle-window-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* Center the button */
  z-index: 10; /* Ensure it's above the maps */
  /* Add more styling as needed */
}




